    .whatsapp-float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 25px;
        right: 25px;
        background-color: #25D366;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whatsapp-float:hover {
        background-color: #20ba5a;
        transform: scale(1.1);
    }

    .whatsapp-float i {
        margin-top: 2px;
    }

